<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h3 style="justify-content: center;">Your Orders</h3>

            <div *ngIf="orderHistoryList.length > 0">
                <table class="table table-bordered stylish-table">
                    <tr style="font-family: Poppins-Bold; height: 40px;">
                        <th width="20%">ORDER TRACKING NUMBER</th>
                        <th width="10%">TOTAL PRICE</th>
                        <th width="10%">TOTAL QUANTITY</th>
                        <th width="10%">DATE</th>
                    </tr>

                    <tr *ngFor="let tempOrderHistory of orderHistoryList" style="font-family: Poppins-Regular;">
                        <td>
                            {{ tempOrderHistory.orderTrackingNumber }}
                        </td>
                        <td>
                            {{ tempOrderHistory.totalPrice | currency: 'USD' }}
                        </td>
                        <td>
                            {{ tempOrderHistory.totalQuantity }}
                        </td>
                        <td>
                            {{ tempOrderHistory.dateCreated | date: 'medium' }}
                        </td>
                    </tr>
                </table>
            </div>

            <!-- if order history is empty then display a message -->
            <div *ngIf="orderHistoryList.length == 0" class="alert alert-warning col-md-12" role="alert">
                No orders found.
            </div>

        </div>
    </div>
</div>